.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 5px;
}

.txt {
    position: absolute;
    margin-bottom: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn {
    height: 40px;
    width: 100px;
}

